<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="siarhei.luskanau.example.rxjava_bind_service"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="rxjava_bind_service"
        android:theme="@style/Theme.MaterialComponents.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="siarhei.luskanau.example.rxjava_bind_service.service.BackgroundService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>
